Python = python is programming language
Program= set of instruction to pass or to complete a task over machine

Python is a high level programming language.

high level = the code are easily understanble by human / human readable

print() = used to give the display the output

In [1]:
print("hello world")

hello world

Feature of Python
1. High level = human readble
2. Case sensitive
3. Rich in libraries
4.Interpreter

Rich in libraries -
library is a pakage where we can have different type of built in function
example 
numpy = to deal with array
pandas = data manipulation
statatics=  mathematical task over the data

2. Case sensitive = lower case and upper case character(even if they are same ) are different

A =10  # upper case
a=10 #lower 
bat
bAt

In [14]:
hello = 10
Hello = 40

In [15]:
hello

10

print# right
Print #wrong 
return 
True  # true

executaion = running a code by providing the command

In [ ]:
1.Compiler = all of the code would get compiled using top to bottom approach in a single block
2. Interpreter= in python our code executes line by line using the top to bottom approach

In [2]:
print("cherry")

cherry

In [3]:
a= 10

In [4]:
a

10

varaible are used to store a data
varaible are the name that represents the data
varaible  points towards the data

rules for variable
1. a avarible can not start number
2. we cannaot use any of special character inside the variable( @ ! # $ %) expection  _
3. one varaible will only store one data 
4. a keyword cannot be used a variable

In [ ]:
#1. a variable can not start number
x=50

In [5]:
#1. a variable can not start number
1a=30

SyntaxError: invalid decimal literal (1663881409.py, line 2)

In [6]:
#2. we cannaot use any of special character inside the variable( @ ! # $ %)
@f= 23

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3686609202.py, line 2)

In [13]:
vo@y= 35

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (489201651.py, line 1)

In [8]:
# exception  _ underscore
_r = 10 
print(_r)

10

In [9]:
#3. one varaible will only store one data
v= 10 30

SyntaxError: invalid syntax (3400344079.py, line 2)

varaible 
1. we can use alphabets 
2. we can use words
3. in between the alaphabets we can number as well or either end of the words

In [10]:
#1. we can use alphabets 
f= 40
f

40

In [ ]:
#2. we can use words
hello = 10
apple = 20
age = 45

In [11]:
#3. in between the alaphabets we can number as well or either end of the words
xyz1 =7
xyz1

7

keywords= keywords are the reserved words that has specific task to do or that some meaning towrads the code .
note: trick to find the keywords = it will appear in green

In [ ]:
#example for keywords
print, return , or , and , not , in

In [16]:
#
x=5
y=30
print(x+y)

35

In [17]:
#interpreter
c=5

In [18]:
d=3

In [19]:
c+d

8

In [ ]:
memory allocation  = to store a code memory

In [20]:
e= 105

In [21]:
f= 100

In [22]:
e

105

In [24]:
hello=19
Hello=20
print(hello)
Hello

19

20

In [27]:
age=  56
name = 34
print(age)
print(name)

56
34

In [29]:
v=10
y=20
z=30
print(z, y ,v)

30 20 10

In [ ]:
xyz   20  5.7

In [ ]:
type() =used to show the datatype of the varible

In [ ]:
Datatype = the category or the classification of a data(what type of data we are taking)
type of datatype
1. Built in 
2. User define

In [ ]:
Built in datatype = the datatype that is pre define for each and every lanaguge
1. Integer = int
2. Float
3. String
4. Boolean

1. Integer(int) = all of the numeric values including the negative value are the integer type data
ex
var =10
a= -40

In [30]:
xxx= 379
type(xxx)

int

In [33]:
var= -456
print(type(var))
print(var)

<class 'int'>
-456

In [ ]:
Float = all of the numbers that has decimal value  including the negaive deciaml number as well 
float

In [34]:
var1 = 56.7
type(var1)

float

In [36]:
var2= -3.4
type(var2)

float

In [ ]:
string=anything that has sequence or either a invidual character(a,z)
rule = anything that is inside the "", ''

str

In [ ]:
st = "hello"
st1= 'a'
st2= "1234"
st3= "3.5"

In [1]:
string = "4.7"
type(string)

str

In [2]:
str2= "hello i am python"
str2

'hello i am python'

In [3]:
type(str2)

str

In [ ]:
Boolean = a data that has value as in True and false that is called boolean
bool
feature = we usze it in if else condition

In [4]:
a= True
b=False
type(b)

bool

In [ ]:
user define datatype = a user can customize the class of the data using the user define datatype
types of user define datatype 
1.Tuple
2.List
3.Set
4.Dictionary

1. Tuple = a tuple is sequence of ordered data
feature = in a single variable using the comma we can take multiple of data as well as we can take multiple type datatype
keyword =tuple
rule = () small brackets

In [5]:
tup=(1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [7]:
len(tup)

5

In [6]:
tup1= (1,"hello",3.5, True)
type(tup1)

tuple

In [8]:
len(tup1)

4

In [ ]:
len() = used to have the count of the the elements inside the sequence datatype

In [ ]:
index = the position of the element inside the memory is called index
starts  = 0 
ends at lenght -1
reverse index
starts = -1
lenght = -length

In [9]:
tup3= ("hi", "cherry", 3.4, 2,True,1)
len(tup3)

6

In [10]:
tup3[0]  # variable[indexnumber]  output = element of that index

'hi'

In [ ]:
List = A list is sequence of ordered data 
feature = it can have multile data (multiple datatype)
index
rule =[]
keyword = list

In [11]:
List= [1,2,3,7,8,9]
len(List)

6

In [12]:
List1= ["a", 15.2,"yes",False]
len(List1)

4

In [14]:
List1[-1]

False

In [15]:
List1[-3]

15.2

In [ ]:
diffrence = 
tuple =() , immutable (cannot change)
list = [] , mutable (can change)

In [16]:
Tuple_1 =(1,2,3,4,5)
List_1= [1,2,3,4,5]

In [ ]:
append() = used to take a data at the end of the list

In [17]:
#Tuple_1
Tuple_1.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
#List
List_1.append(6)

In [19]:
List_1

[1, 2, 3, 4, 5, 6]

In [ ]:
#insert 
syntax
variablename.insert(position,value)

In [21]:
List_1.insert(2,7)
List_1

[1, 2, 7, 7, 3, 4, 5, 6]

In [22]:
List_2 =[1,2,3,5]
List_2.insert(2,4)
List_2

[1, 2, 4, 3, 5]

In [23]:
tu1= (1,2,3,4)
tu1.insert(2,5)
tu1

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
Set = Set is sequence of unordered data
feature = set does not take duplicate values/data
it does not support index
in the set we can have muliple datatype
rule ={}
keyword = set

In [24]:
Set= {1,2,3,4,5}
type(Set)

set

In [25]:
len(Set)

5

In [26]:
Set[0]

TypeError: 'set' object is not subscriptable

In [27]:
Set1= {1,2,3,3,4,4,5,6,7,6}
Set1

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
Dictionary= a datatype that has data as in format of Key:value pair
rule ={key:value}
feature = every time we need to take the data as n the format key and value
key is the mapping value , key can have only unique value
value could be duplicate
keyword = dict

In [28]:
Dict1= {"key1":5, "Key2":6,"key3":7}
len(Dict1)

3

In [ ]:
keys()

In [29]:
Dict1.keys()

dict_keys(['Key1', 'Key2', 'key3'])

In [ ]:
values()

In [30]:
Dict1.values()

dict_values([5, 6, 7])

In [33]:
Dict2= {1:"Ram",2:"Joye",2:"Gita"}
Dict2

{1: 'Ram', 2: 'Gita'}

In [34]:
a=10
b=20
a
b

20

In [ ]:
Type casting 
Converting one datatype into another
Interger = int()
Float= float()
String = str()
Boolean= bool()
Tuple =tuple()
List= list()
Set=set()
Dictionary excepction

In [35]:
st="1234"
type(st)

str

In [36]:
v=int(st)
v

1234

In [37]:
type(v)

int

In [38]:
c=10
st1= str(c)
st1

'10'

In [40]:
type(st1)

str

In [43]:
tup1 =(1,2,3,4,5)
print(type(tup1))
lis1= list(tup1)
print(type(lis1))

<class 'tuple'>
<class 'list'>

In [44]:
lis3= [1,2,3,4,5]
Set= set(lis3)
Set

{1, 2, 3, 4, 5}

Operators = a certain reserved keywords that are used to perform the operation on the data operator
1.Arthematic
2.Comaparison operator
3. Logical operator
4.identity operator
5.Assignment operators

Arthematic = to perform all of the mathematical operation
+ = add
- = sub
* = muliplication
/=  division
// = floor division
% = remainder

In [45]:
x=10
y=2

In [46]:
x+y

12

In [47]:
x-y

8

In [48]:
x*y

20

In [49]:
# division output = float
x/y

5.0

In [50]:
#// = division output= integer
x//y

5

In [51]:
x%y

0

In [52]:
v=113
z=2
v/z

56.5

2.Comparison operator =it is use to perform campraision between more than one data
>  greater than
<  smaller than
==  equals to
!= not equals to
>=
<=

In [53]:
a=3
b=2

In [54]:
a>b

True

In [55]:
a<b

False

In [56]:
a==b

False

In [57]:
a!=b

True

In [58]:
a>=b

True

In [59]:
a<=b

False

Logical operator= are used perfrom gates
and  (True and True)  1 ,1
or (True or False ) 
not  (False)

In [64]:
x=9
y=6
z=5

In [65]:
x>y and x>z

True

In [66]:
y>x or y>z

True

In [67]:
a=10
b=30

In [69]:
not a<b

False

In [ ]:
v=5
z=4

In [70]:
v>z

True

In [71]:
not v>z

False

identity operator =  identical to the other data
is 
is not

In [72]:
a=5
b=5
a is b

True

In [73]:
a= "hello"
b=10
a is b

False

In [74]:
v=5
y=3
v is y

False

is not  = not identical

In [75]:
a=5
b=3
a is not b  # both are not identical

True

Assignment operator= Use to assign a value to a varible
=  
+=
-=
*=
/=

In [76]:
c=10
c

10

In [77]:
#+=
c+=1  # c= c+1
c

11

In [78]:
v=5
v-=1
v

4

In [79]:
b=2
b*=2 
b

4

Conditional statement =it is used to make a decision over a program according to the situation

if else 
syntax
if condition:
    statement
else:
    statement

In [80]:
a=30
b=20
# which one the greater
if a>b:
    print(" a is greater")
else:
    print("b is greater")

 a is greater

In [83]:
v=23
y=55
if v>y:
    print(" v is greater")
else:
    print("y is greater")

y is greater

Note = if would be the very first line of the conditional statement
if the condition is not true so in  that case the another conditional block will run

syntax 
if condition:
    statement
elif condition:
    statement
else :
    statement

In [2]:
x=34          
y=25   
z=39
if x>y and x>z:
    print("x is the greatest number")
elif y>x and y>z:
    print("y is greatest")
else:
    print("z is greatest")

z is greatest