In [ ]:
Python = python is programming language
Program= set of instruction to pass or to complete a task over machine

In [ ]:
Python is a high level programming language.

In [ ]:
high level = the code are easily understanble by human / human readable

In [ ]:
print() = used to give the display the output

In [1]:
print("hello world")

hello world

In [ ]:
Feature of Python
1. High level = human readble
2. Case sensitive
3. Rich in libraries
4.Interpreter

In [ ]:
Rich in libraries -
library is a pakage where we can have different type of built in function
example 
numpy = to deal with array
pandas = data manipulation
statatics=  mathematical task over the data

In [ ]:
2. Case sensitive = lower case and upper case character(even if they are same ) are different

In [ ]:
A =10  # upper case
a=10 #lower 
bat
bAt

In [14]:
hello = 10
Hello = 40

In [15]:
hello

10

In [ ]:
print# right
Print #wrong 
return 
True  # true

In [ ]:
executaion = running a code by providing the command

In [ ]:
1.Compiler = all of the code would get compiled using top to bottom approach in a single block
2. Interpreter= in python our code executes line by line using the top to bottom approach

In [2]:
print("cherry")

cherry

In [3]:
a= 10

In [4]:
a

10

In [ ]:
varaible are used to store a data
varaible are the name that represents the data
varaible  points towards the data

rules for variable
1. a avarible can not start number
2. we cannaot use any of special character inside the variable( @ ! # $ %) expection  _
3. one varaible will only store one data 
4. a keyword cannot be used a variable

In [ ]:
#1. a variable can not start number
x=50

In [5]:
#1. a variable can not start number
1a=30

SyntaxError: invalid decimal literal (1663881409.py, line 2)

In [6]:
#2. we cannaot use any of special character inside the variable( @ ! # $ %)
@f= 23

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3686609202.py, line 2)

In [13]:
vo@y= 35

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (489201651.py, line 1)

In [8]:
# exception  _ underscore
_r = 10 
print(_r)

10

In [9]:
#3. one varaible will only store one data
v= 10 30

SyntaxError: invalid syntax (3400344079.py, line 2)

varaible 
1. we can use alphabets 
2. we can use words
3. in between the alaphabets we can number as well or either end of the words

In [10]:
#1. we can use alphabets 
f= 40
f

40

In [ ]:
#2. we can use words
hello = 10
apple = 20
age = 45

In [11]:
#3. in between the alaphabets we can number as well or either end of the words
xyz1 =7
xyz1

7

keywords= keywords are the reserved words that has specific task to do or that some meaning towrads the code .
note: trick to find the keywords = it will appear in green

In [ ]:
#example for keywords
print, return , or , and , not , in

In [16]:
#
x=5
y=30
print(x+y)

35

In [17]:
#interpreter
c=5

In [18]:
d=3

In [19]:
c+d

8

In [ ]:
memory allocation  = to store a code memory

In [20]:
e= 105

In [21]:
f= 100

In [22]:
e

105

In [24]:
hello=19
Hello=20
print(hello)
Hello

19

20

In [27]:
age=  56
name = 34
print(age)
print(name)

56
34

In [29]:
v=10
y=20
z=30
print(z, y ,v)

30 20 10

In [ ]:
xyz   20  5.7

In [ ]:
type() =used to show the datatype of the varible

In [ ]:
Datatype = the category or the classification of a data(what type of data we are taking)
type of datatype
1. Built in 
2. User define

In [ ]:
Built in datatype = the datatype that is pre define for each and every lanaguge
1. Integer = int
2. Float
3. String
4. Boolean

1. Integer(int) = all of the numeric values including the negative value are the integer type data
ex
var =10
a= -40

In [30]:
xxx= 379
type(xxx)

int

In [33]:
var= -456
print(type(var))
print(var)

<class 'int'>
-456

In [ ]:
Float = all of the numbers that has decimal value  including the negaive deciaml number as well 
float

In [34]:
var1 = 56.7
type(var1)

float

In [36]:
var2= -3.4
type(var2)

float