1. Create a python file named Module.
a. Inside the file, define 4 methods/function named – addition, subtraction, multiplication,
and division.
b. Each method should only accept 2 arguments and should return the result of the
operation performed in each method. For e.g., addition() should return the sum of
two arguments.
c. Save the Module file in .py format.

In [ ]:
2. Open a new python file and import the Module.py file.
a. Now call the 4 methods from the Module.py file, i.e., addition(), subtraction(),
multiplication(), and division().

In [6]:
import Module_01 as m

In [7]:
m.addition(2,3)

5

In [10]:
m.subtraction(3,4)

-1

In [ ]:
3. From the Module file, import only the addition() and pass the arguments so that it can
display the result from the method.

In [11]:
from Module_01 import addition
addition(6,3)

9

In [12]:
from Module_01 import subtraction
subtraction(6,3)

3

5. From the Module file, import both the multiplication() and division() and pass the
arguments so that it can display the result from the methods.

In [13]:
from Module_01 import multiplication, division
multiplication(2,2)

4

In [14]:
division(4,2)

2.0

6. Create a python if-else program to check if the given numbers are greater or not

In [15]:
a=45
b=25
if a>b:
    print(a, "a is greater num")
else:
    print(b," b is greater num")

45 a is greater num

In [ ]:
7. Give the length of the all of the element that is present inside the list List1
List1 = ["Hi", 'Hello','go','cherry','orange']

In [39]:
List1 = ["Hi", 'Hello','go','cherry','orange']
for i in List1:
    print(len(i))

2
5
2
6
6

In [41]:
List1.index("Hello")

1

8. With the help of conditional statement print all of the negative element that is present
in the given List
L= [-2, 4, -1, -6, -7]

In [25]:
L= [-2, 4, -1, -6, -7]
for i in L:
    if i<0:
        print(i)

-2
-1
-6
-7

9. Create a list of the first 50 natural numbers, and perform the following operations.
a. Count the number of elements in the list.

In [26]:
list1=[]
for i in range(1,51):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

b. Reverse the sequence of the list.

In [ ]:
sort() is a function that is used to sort a list in ascending order

In [29]:
list1.sort(reverse=True)
print(list1)

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
List1=[]
for i in range(50,0,-1):
    List1.append(i)
print(List1)

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
diffrence 
return = it can be only used when we have user define function
print() = it is used print to print statement

In [32]:
return 10

SyntaxError: 'return' outside function (2874715716.py, line 1)

In [ ]:
d. Get the index value for the element 44, and update the element with the number

In [33]:
list1=[]
for i in range(1,51):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [37]:
list1[43]

44

In [38]:
list1.index(44)

43

In [ ]:
index()  is used to fetch the index of the particular element inside the list

In [ ]:
10. For the given strings A = “Python Programming Language”, B = “Best in the World” ,
perform the following operations.
a.Using indexing operations, get the text “gram” from the string A.
b. Using indexing operations, get the text “World” from the string B.

In [42]:
A="Python Programming Language"
A[10:14]

'gram'

In [43]:
A[0]

'P'

In [44]:
A[2]

't'

In [ ]:
A[start:stop]

In [45]:
A[19:]

'Language'

In [47]:
A.index("L")

19

In [48]:
A.index("e")

26

In [49]:
A[19:27]

'Language'

In [51]:
A.index("a")

12

In [ ]:
b. Using indexing operations, get the text “World” from the string B.

In [52]:
B="Best in the World"
B[12:]

'World'

In [ ]:
c. Change the letters in both strings to Uppercase letters.
upper() = it is used to convert everthing in uppercase

In [53]:
A.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [54]:
B.upper()

'BEST IN THE WORLD'

In [55]:
B.lower()

'best in the world'

In [ ]:
d. Concatenate the two strings.

In [57]:
A+" "+B

'Python Programming Language Best in the World'

In [ ]:
11. Create a list with n numbers, and using negative indexing return the list starting from
the 5th index to the n-2th index.
starts -1 
end 

1,11
[1,2,3,4,5,6,7,8,9,10]
support@intellipaat.com